<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{dashboardLayout_copy.html}">

<head>

</head>

<body>
    <section class="row" layout:fragment="content">
        <div class="authentication-wrapper authentication-basic pt-3 pb-3" style=" min-height: 50vh;">
            <div class="authentication-inner">
                <!-- Register -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <a th:href="@{/}" class="app-brand-link gap-2">
                                <span class="app-brand-logo demo">
                                    <img th:src="@{/assets/img/logo/125.png}" alt="" class="img-fluid" height="1rem" />
                                </span>
                                <span class="app-brand-text demo text-body fw-bolder">DABAD
                                </span>
                            </a>
                        </div>
                        <form id="formAuthentication" class="mb-3" th:action="@{/login}" method="post"
                            th:object="${user}">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" th:field="*{email}"
                                    placeholder="Enter your email" autofocus required/>
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">Password</label>
                                </div>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password" class="form-control" name="password" th:field="*{password}"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                        aria-describedby="password" required/>
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100" type="submit">
                                    Sign in
                                </button>
                                <div class="form-text" style="color: rgb(155, 33, 27)">
                                    [[${message}]]
                                </div>
                            </div>
                        </form>

                        <p class="text-center">
                            <span>New on our platform?</span>
                            <a th:href="@{/signup}">
                                <span style="color: rgb(120, 123, 255);">Create an account</span>
                            </a>
                        </p>
                    </div>
                </div>
                <!-- /Register -->
            </div>
        </div>
    </section>
</body>

</html>