<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

</head>

<body>
    <div th:fragment="footer">
        <div class="footer bg">
            <img class="decoration-city" th:src="@{/img/decoration-city.svg}" alt="alternative" />
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="social-container">
                    <span class="fa-stack">
                      <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                      </a>
                    </span>
                    <span class="fa-stack">
                      <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                      </a>
                    </span>
                    <span class="fa-stack">
                      <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-pinterest-p fa-stack-1x"></i>
                      </a>
                    </span>
                    <span class="fa-stack">
                      <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-instagram fa-stack-1x"></i>
                      </a>
                    </span>
                    <span class="fa-stack">
                      <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-youtube fa-stack-1x"></i>
                      </a>
                    </span>
                  </div>
                  <!-- end of social-container -->
                </div>
                <!-- end of col -->
              </div>
              <!-- end of row -->
            </div>
            <!-- end of container -->
        </div>
    </div>
    
</body>

</html>