<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{dashboardLayout_copy.html}">

<head>

</head>

<body>
    <section class="row" layout:fragment="content">
        <div class="authentication-wrapper authentication-basic pt-3 pb-3">
            <div class="authentication-inner" style="max-width: 1000px">
                <!-- Register Card -->
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h3 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Edit Client Profile</h3>
                        </div>
                        <div class="form-text" style="color: rgb(71, 220, 37)">
                            [[${message}]]
                        </div>
                        <div class="col-xl">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <form th:action="@{/profile/saveAsCustomer}" method="post" th:object="${user}"
                                        enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                <input type="hidden" th:field="*{userId}">
                                                <input type="hidden" th:field="*{password}">
                                                <div class="mb-3">
                                                    <label class="form-label" for="email">Email</label>
                                                    <div class="input-group input-group-merge">
                                                        <span style="background-color: rgb(236, 238, 241);" id="basic-icon-default-fullname2"
                                                            class="input-group-text"><i
                                                                class="bx bx-envelope"></i></span>
                                                        <input type="email" name="email"
                                                            id="email basic-icon-default-fullname" class="form-control"
                                                            th:field="*{email}" placeholder="johndoe@example.com" readonly/>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="name">Full Name</label>
                                                    <div class="input-group input-group-merge">
                                                        <span class="input-group-text"><i class="bx bx-user"></i></span>
                                                        <input type="text" name="name" id="name" class="form-control"
                                                            th:field="*{name}" placeholder="John Doe" required/>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="phone">Phone No</label>
                                                    <div class="input-group input-group-merge">
                                                        <span id="basic-icon-default-phone2" class="input-group-text"><i
                                                                class="bx bx-phone"></i></span>
                                                        <input type="text" name="phone" id="phone" th:field="*{phone}"
                                                            class="form-control phone-mask"
                                                            placeholder="658 799 8941" required/>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="company">Company</label>
                                                    <div class="input-group input-group-merge">
                                                        <span id="company" class="input-group-text"><i
                                                                class="bx bx-buildings"></i></span>
                                                        <input type="text" id="company" class="form-control"
                                                            list="companies" th:name="company" th:value="${company}"
                                                            placeholder="ACME Inc." required/>
                                                        <datalist id="companies">
                                                            <option th:each="item:${companies}" th:value="${item}"
                                                                th:text="${item}"></option>
                                                        </datalist>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                <script>
                                                    function chooseFile(fileInput) {
                                                        if (fileInput.files && fileInput.files[0]) {
                                                            var reader = new FileReader();

                                                            reader.onload = function (e) {
                                                                $('#image').attr('src', e.target.result);
                                                            }

                                                            reader.readAsDataURL(fileInput.files[0]);
                                                        }
                                                    }
                                                </script>
                                                <div class="form-group">
                                                    <label for="avatarImage" class="form-label">Image</label>
                                                    <input type="file" name="avatarFile" class="form-control"
                                                        id="avatarImage" placeholder="Avatar Image"
                                                        aria-describedby="avatarImage" onchange="chooseFile(this)" />
                                                </div>
                                                <img id="image" alt=""
                                                    th:src="${user.avatar!=null? user.avatar:'https://storage.cloud.google.com/freelance-c87e4.appspot.com/default.jpg'}"
                                                    class="img-fluid img-thumbnail rounded mx-auto d-block mt-3"
                                                    style="width: 300px;"/>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="description">Description</label>
                                            <div class="input-group input-group-merge">
                                                <textarea rows="5" name="description" id="description" class="form-control"
                                                    th:field="*{description}" placeholder="John Doe" required></textarea>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <button type="submit" class="btn btn-primary">
                                                Update profile
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Register Card -->
            </div>
        </div>
    </section>
</body>

</html>